.logo > a {
    display: none;
}

/*** Custom CSS for the about page ********************************************/
.about-profile {
    float   : left;
    width   : 100px;
    margin  : 0 1.5rem 0.75rem 0;
}

.about-profile img {
    width   : 100%;
    height  : auto;
    margin  : 0;
}

@media (max-width: 600px) {
    .about-profile {
        float   : none;
        width   : 160px;
        margin  : 0 auto 1.5rem;
    }
}
/*** End of Custom CSS for the about page *************************************/
